pandas
matplotlib
seaborn
geopandas==0.14.4 # must have this version to work with fiona or will result in error
numpy
scipy
scikit-learn
pytest
openpyxl 
fiona>=1.10.0 #needs speicifc version to prevent error

#verifying changes after rebasing